<div class="main_content">
	<h2>See All Authors</h2>	
	<% @authors.each do |author| %>
	<% fullname = author.f_name + " " + author.l_name %>

	<li><%= link_to fullname, author %></li>

	<% end %>	

	<li><strong><%= link_to "Add New Author", new_author_path %></strong></li>											
</div>
