<div class="main_content">
	<h2>See All Books</h2>

	<% @books.each do |f| %>
	<li><%= link_to f.title, f %></li>
	<% end %>
	<li><strong><%= link_to "Add Book", new_book_path %></strong></li>

</div>
