<div class="main_content">
	<h2>About your Public Library</h2>	
	<p><strong>Address:</strong> 1234 Little Book Road, Los Angeles, CA 90065<br><br>
		<strong>Hours:</strong> Open Daily 8am - 8pm<br><br>
		<strong>Parking:</strong> Free parking is available to library patrons<br><br>
		<strong>Need more info?</strong> Contact us!
</div>