<div class="main_content">
	<h2>Contact your Public Library</h2>	
	<p><strong>Address:</strong> 1234 Little Book Road, Los Angeles, CA 90065<br><br>
		<strong>Hours:</strong> Open Daily 8am - 8pm<br><br>
		<strong>Phone:</strong> 213-740-1862<br><br>
		<strong>Email:</strong> info@thepubliclibrary.org</p>
</div>