<div class="main_content">
	<h2 style="padding-right: 150px;">Welcome to your Public Library Online!</h2>	
	<div style="float: left; margin-right: 50px; width: 30%">
		<h2>Browse Books</h2>
		<% @books.each do |f| %>
		<li><%= link_to f.title, book_path(f) %></li> 
		<% end %>
		<p style="text-align: center"><strong>
			<%= link_to "See All Books...", books_path %></strong></p>
	</div>
	
	<div style="float: left; width: 30%">
		<h2>Browse Authors</h2>
		<% @authors.each do |f| %>
		<% full_name = f.f_name + " " + f.l_name %>
		<li><%= link_to full_name, author_path(f) %></li> 
		<% end %>		
		<p style="text-align: center"><strong>
			<%= link_to "See All Authors...", authors_path %></strong></p>
	</div>
</div>
